.dashboard {

   &__transaction-category {
      margin: 2rem;
   }

   &__transaction-header {
      border-bottom: 2px solid black;
      padding: 1rem;
      font-style: italic;
   }

   &__transaction-body {
      margin: 2rem;
      min-height: 10vh;
      font-size: 1.3rem;
   }
}