.login {
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
   background: url('http://bit.ly/2gPLxZ4') 
      no-repeat center center/cover;

   &__window {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      padding: 2rem;
      overflow: hidden;
      height: 40%;
      background-color: rgba(transparent, 0.3);
      color: rgb(195, 212, 228);
   }

   &__welcome {
      margin-top: 1.5rem;
   }

   // Sign-in button
   & .css-1lwbxjv-MuiButtonBase-root-MuiButton-root {
      width: 100%;
      font-size: 1rem;
      margin-bottom: 1rem;
   }

   // Login footer section
   & .css-1oqqzyl-MuiContainer-root {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

}