.calendar {
   text-align: center;
   display: flex;
   flex-direction: column;
   margin-top: 2rem;

   &__body {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin: 0 auto;
      max-width: 0 auto;
   }

   &__header {
      display: flex;
      justify-content: space-between;
      padding: 0 15%;
      align-items: center;
      margin: 0 auto;
      max-width: 60rem;
   }

   &__current-month {
      display: inline-flex;
      margin: 0 10vw;
   }

   &__month-next {
      cursor: pointer;
      display: inline-flex;
      font-size: 1.8rem;
   }

   &__month-prior {
      cursor: pointer;
      display: inline-flex;
      font-size: 1.8rem;
   }

   &__header-days {
      display: flex;
   }

   &__header-day {
      font-style: italic;
      padding: 1.3rem;
      width: 13vw;
      min-width: 4.5rem;
   }

   &__day {
      border: 1px solid lightsteelblue;
      padding: 1.4rem;
      font-size: 1.2rem;
      width: 13vw;
      height: 13vw;
   
      &:hover {
         border: 1px solid red;
         border-radius: 4px;
      }
   
      &--today {
         border: 1px solid black;
         border-radius: 4px;
      }
   
   }

   &__date {
      position: relative;
      font-style: italic;
      bottom: 1.2rem;
      left: 1rem;
   }
}
